:root {
  --blue: #223d50;
  --white: #fff;
  --red: #fa6357;
  --lightred: #ff6c6c;
  --green: #1c7488;
  --lightgreen: #96dde7;
}

body {
  background-color: var(--blue);
}

html {
  -webkit-text-size-adjust: 100%;
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

.mainContent {
  display:flex
}

.courses{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0px 50px;
}

h1, h2  {
  color: var(--white);
  font-size: 16px;
}

h3 {
  color: var(--white);
  font-size: 12px;
}

nav {
  display: flex;
  background-color: var(--blue);
  height: 100px;
}

.maintitle {
  display: flex;
  position: absolute;
  left: 20px;
  top: 20px;
  height: 23px;
  width: 191px;
}
.coursebutton {
  background-color: var(--red);
  border-radius: 4px;
  border: none;
  font-size: 16px;
  width: 20rem;
  height: 4rem;
  color: var(--white);
  padding: 10px 14px;
  margin: 20px
}
.coursebutton:hover {
  background-color: var(--lightred);
  cursor:pointer;
}